
@{
	ViewBag.Title = "Follow";
}
<!-- TODO 
	download instagram and github fonts

-->



<div class='paratext'>
	<h1>follow me</h1>
	<br/>
	<ul class="followlist">
		<li class="github">
			<img src="/Content/Images/githubbanner.jpg" alt="github logo" id="githubpic" />
			<h2>Louis de Jager (Louiskop)</h2>
			<ul class='Glist'>
				<li>Repositories : xx
				</li>
				<li>Commits : xx
				</li>>
			</ul>
			<a href='www.github.com/louiskop'>Go to my Profile</a>
		</li>
		<li class="instagramli">
			<!-- banner img -->
			<!-- round pfp -->
			<h2>at Louis_dejager</h2>
			<ul class='Glist'>
				<li>Followers : xx
				</li>
				<li>Posts : xx
				</li>>
			</ul>

		</li>
	</ul>


</div>