
@{
	ViewBag.Title = "Follow";
}

<div class='paratext'>
	<h1>follow me</h1>
	<br/>
	<ul class="followlist">
		<li class="github">
			<img src="/Content/Images/githubbanner.jpg" alt="github logo" id="githubpic" />

		</li>
		<li class="instagramli">
			<p>Instagram</p>
		</li>
	</ul>


</div>