
@{
	ViewBag.Title = "Follow";
}
<!-- TODO 
	download instagram and github fonts

-->



<div class='paratext' id="external">
	<h1>follow me</h1>
	<br/>
	<ul class="followlist">
		<li class="github">
			<img src="/Content/Images/gitbanner.png" alt="github logo" id="githubpic"/>
			<h2>Louis de Jager</h2>
			<ul class='Glist'>
				<li>Repositories : xx
				</li>
				<li>Commits : xx
				</li>
			</ul>
			<a href='https://www.github.com/louiskop'>Go to my Profile</a>
		</li>
		<li class="instagramli">
			<img src="/Content/Images/Instabanner.png" alt="instagram logo banner" id="githubpic" />
			<!-- round pfp -->
			<h2>&#64;Louis_dejager</h2>
			<ul class='Glist'>
				<li>
					Followers :
				</li>
				<li>
					Posts : xx
				</li>
			</ul>
			<a href='https://www.instagram.com/louis_dejager'>Go to my Profile</a>
		</li>
	</ul>
</div>
<script type='text/javascript'>
	$(document).ready(function(){
		var url = 'https://www.instagram.com/louis_dejager';
		$.get(url, function(response) {
			$('#external').html($(response).find('.g47SY').html());
		});
		})	
</script>