@{
	ViewBag.Title = "Home Page";
}

<div class ="aboutme">
	<div class="paratext">
		<img src="/Content/Images/introimage.jpg" alt="Video explaination" id="intropic" />
		<br />
		<h1>this is me</h1>
		<p>
			I'm from South-Africa, a place a lot of people won't expect to find a software developer. I am still young and go to school every day, play sports and still find the need to learn programming.<br /> <br />Why?<br /><br />
			As a young lad I always loved the idea of getting a computer to do stuff for you, even if it is harder work to program that action than to do it yourself. I only later found out it can be persued as a
			career. That's the beauty of it.<br /><br /> I am trying to learn as much as I can before I need to choose between university, colleges or immediate jobs after school. My projects take on a lot of diversity in type, the reason is
			for me to explore every field and expierience which one is the one I like. Not to know everything, that is impossible(Although that would be amazing hey)<br /><br /> Currently I am sixteen years old ,but a lot of people still
			underestimate my skills ,because they don't think it is possible that you can learn as much as I have trough self-learning. I still do not know if I want to go to university or just start working. Hence, the portfolio
			enjoy the ride.
		</p>
		<br />
		<br />
		<h1>What is this site</h1>
		<p>
			This website is developed in ASP.NET mvc. <br />
			Find all my projects and skills in the projects tab.<br />
			<br />
			It acts as my portfolio and showcases all of my projects and skills, this website being one of them. Web development is not my main focus ,but my skills include web development. <br />
			I am self-taught and thus I do not have a college degree, but comprehend most (if not more) knowledge of a computer science student. Use this site to navigate my whole journey through discovering programming and computer science<br /><br/>	
			Please contact me for questions, jobs or simple greetings in the contact me button in the footer or the email icon (top right).
		</p>
		<br/>
		<br/>
		<h1>My goals</h1>
		<p>
			My main goal is to learn enough of computer science and have enough practical expierience to start working after school rather than going to a college.<br/>
			The field I wish to specialize in I do not yet know. This is why I try to get practical projects done with a wide variety so that I can get to know the most of computer science<br/><br/>
			My prefered field is App development and Artificial Intelligence. I still need to get much more expierience done in the AI field. Currently I am getting all of the math and data structures & algorithims in my skillset.<br/><br/>
			My single biggest goal will be to do what I love for the rest of my life with dedication and productivity. Optimization and Productivity are things I can't go without. <br/>
		</p>
		<br/>
		foto at thing at top
		---TODO
		make navbar and footer look better
		make a route for the follow me button in footer
		- a video instead of the images
		style footer buttons better
		start with pages with index first!
		convert footer size to %
		test margins change to show yellow bg at the sides of body content en dan maak jy die text soes dunner af want dis te ver veju oe om lings en regs te gan
		icon to the right top of layout so that you can jump to the footer
	</div>
</div>


<script type="text/javascript">
	$('#li1').toggleClass('currenttile');
</script>  

