@{
    ViewBag.Title = "Home Page";
}

<div class ="aboutme">
    <div class="paratext">
        <h1>this is me</h1>
        <p>A yound kid still in school trying to learn the most of development beforehand. Web developmnet is not the main focus, but it is in my skillset</p>
        foto at thing at top
        // what is this site?
        // my goals
        </div>
</div>


<script type="text/javascript">
    $('#li1').toggleClass('currenttile');
</script>  

