@{
	ViewBag.Title = "Home Page";
}

<div class ="aboutme">
	<div class="paratext">
		<img src="/Content/Images/introimage.jpg" alt="Foto of Me" id="intropic" />
		<br />
		<h1>this is me</h1>
		<p>
			I'm from South-Africa, a place a lot of people won't expect to find a software developer. I am still young and go to school every day, plays sports and still find the need to learn programming.<br /> <br />Why?<br /><br />
			As a young lad I always loved the idea of getting a computer to do stuff for you, even if it is harder work to program that action than to do it yourself. I only later found out it can be persued as a
			career. That's the beauty of it.<br /><br /> I am trying to learn as much as I can before I need to choose between university, colleges or immediate jobs after school. My projects take on a lot of diversity in type, the reason is
			for me to explore every field and expierience which one is the one I like. Not to know everything, that is impossible(Although that would be amazing hey)<br /><br /> Currently I am sixteen years old ,but a lot of people still
			underestimate my skills ,because they don't think it is possible that you can learn as much as I have trough self-learning. I still do not know if I want to go to university or just start working. Hence, the portfolio
			enjoy the ride.
		</p>
		<br />
		<br />
		<h1>What is this site</h1>
		<h1>My goals</h1>
		foto at thing at top
		---TODO
		make navbar and footer look better
		make a route for the follow me button in footer
		Remember to photoshop the main image
		- a full width image with the same height
		- moese background only me standing in the middle
		style footer buttons better
		start with pages with index first!
		convert footer size to %

	</div>
</div>


<script type="text/javascript">
	$('#li1').toggleClass('currenttile');
</script>  

