@{
	ViewBag.Title = "Home Page";
}

<div class ="aboutme">
	<div class="paratext">
		<h1>this is me</h1>
		<img src="/Content/Images/introimage.jpg" alt="Foto of Me" id="intropic"/>
		
		foto at thing at top
		// what is this site?
		// my goals
		---TODO
		make navbar and footer look better
		make a route for the follow me button in footer
		style footer buttons better
		start with pages with index first!
		convert footer size to %
		</div>
</div>


<script type="text/javascript">
	$('#li1').toggleClass('currenttile');
</script>  

