@{
    ViewBag.Title = "Home Page";
}

<div class ="aboutme">
    <div class="paratext">
        <h1>this is me</h1>
        <p>A yound kid still in school trying to learn the most of development beforehand. Web developmnet is not the main focus, but it is in my skillset</p>
        foto at thing at top
        // what is this site?
        // my goals
        ---TODO
        create routes for all the nav items
        create routes for the contact page
        make navbar and footer look better
        start with pages with index first!
        convert footer size to %
        </div>
</div>


<script type="text/javascript">
    $('#li1').toggleClass('currenttile');
</script>  

