/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

@font-face {
	font-family:'moyudan';
	src: url("Moyudan.ttf") format('truetype');

}
@font-face {
	font-family: 'heading';
	src: url("TwistedSystemDemo.otf") format('opentype');
}
@font-face {
	font-family:'bodyheading';
	src: url("bodyheadings.otf") format('opentype');
}
@font-face {
	font-family:"bodytext";
	src: url("bodytext.otf")  format('opentype');

}


* {
	margin: 0;
	padding: 0;
}

body {
	background: url("Images/images.jpg") no-repeat center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	
}
.layer {
	background: rgba(252, 198, 3, 0.88) no-repeat center center fixed; /*hex code  = #fbc403;*/
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}


header {
	font-size: 5vw;
	background-color: black;
	color: white;
	position: relative;
	height: 9vw;
	width: 100%;
	text-align: center;
	font-family: heading;
	padding-bottom: 6vw;
}
	
nav {
	margin-top:1%;
	width: 100% ;

}

nav ul {
	list-style-type: none;
	width:80%;
	text-align: center;
	margin: 0 auto;
	padding:0;
}
nav li {
	width: 25VW;
	background-color: black;
	display: inline-block;
	padding: 20px;
}

nav a:hover{
	text-decoration: none;

}
nav a {
		text-decoration: none;
		color: white;
		text-align: center;
		text-transform: uppercase;
		font-family: 'bodyheading';
		font-size: 4rem;
	}

nav ul li,
nav ul li:after,
nav ul li:before {
	transition: all .5s;
}

nav.fill ul li {
	position: relative;
}

nav.fill ul li:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color:transparent;
	background: white;
	height: 1px;
}

nav.fill ul li{
	transition: all 2s;
}

nav.fill ul li:after {
	text-align: left;
	content: '.';
	margin: 0;
	opacity: 0;
}
nav.fill ul li:hover {
	color: black;
	z-index: 1; 
}
	nav.fill ul li:hover > a {
		color: black;
	
	}


nav.fill ul li:hover:after {
		z-index: -10;
		animation: fill 0.5s forwards;
		-webkit-animation: fill 0.5s forwards;
		-moz-animation: fill 0.5s forwards;
		opacity: 1;
	}

.toggle {
	color: white;
	width:100%;
	padding: 10px 20px;
	background: black;
	text-align: right;
	box-sizing: border-box;
	font-size:30px;
	display: none;
}

.socials {
	color: black;
	box-sizing: border-box;
	font-size: 20px;
	float:left;
	margin-left: 2%;
	margin-top: 2%;
	position: absolute;
	top: 10%;
	left: 2%;

}
.socials i {
	padding: 10px 10px;
	margin-left:20px;
	background-color: white;
	border-radius: 20px;
	
}

.socials a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	
}
li:hover{
	color:black;

}

socials a:visited {
	text-decoration:none;
	color: white;

}

.currenttile {
		border-bottom-style:solid;
		border-bottom-width: 4px;
		background-color: white;
		color:black;

}
	.currenttile > a {
		color:black;
	
	}

.body-content {
	margin: 0 0;
	margin-top: 5%;
	padding-top: 2%;
	padding-bottom: 450px; /*This is also the size of the footer + your desired padding*/
	background-color: white;
	color: black;
	margin-right: 5%;
	margin-left: 5%;
}

.paratext {
	text-align: center;
	padding-right: 100px;
	padding-left: 100px;
	font-size:2.6rem;
	line-height: 1.5;
	letter-spacing: 0.1em;
	font-family: 'bodytext';

}
.paratextnot {
	text-align: center;
	font-size:2.6rem;
	line-height: 1.5;
	letter-spacing: 0.1em;
	font-family: 'bodytext';
}


	.paratext h1 ,
	.paratextnot h1{
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-family: 'bodyheading';
		font-size: 7rem;
		padding-bottom:20px;
	}
	.paratext h2,
	.paratextnot h2{
		text-align: left;
		font-size: 3vw;

	}

#descrip {
	text-align:left;

}


#intropic {
	display: block;
	width: 300px;
	height: 400px;
	margin: auto;	
	margin-bottom: 25px;
}
#githubpic {
	margin-left: 20px;

}

footer {
	background-color: #282828;
	position: relative;
	width:100%;
	height: 400px;  
	margin-top: -400px;
	clear: both;
	color:white;
	padding-top:2%;
	padding-left:3%;
	padding-right:3%;
	font-size:4vw;
}


	footer ul {
		text-align: center;
		width: 100%

	
	}
	footer ul li {
		border-right: 1px solid white;
		display: inline-block;
		margin-top:50px;
		padding-left: 100px;
		padding-right: 100px;   
		font-size: 2vw;
	}
	footer ul li:last-of-type {
		border-right:none;
		}
	footer a {
		text-decoration: none;
		color:white;	
	
	}
	footer img {
		width:300px;
		height:300px;
		position:absolute;
		top:0;
		right:0;
		padding-right:100px;
		padding-top:100px;
	
	}
.backnav {
	width:100%;
	text-align: center;


}

#backnav{
	padding:10px;
	font-size:  40px;
	background-color: black;
	border-radius: 20px;
	color: white;
}
.tofooter {
	width:100%;
	text-align: center;
	position: absolute;
	top: 2%;
	left: 40%;
	float:right;
}
#tofooter {
	padding:10px;
	font-size: 30px;
	background-color: white;
	border-radius: 20px;
	color:black;
	margin-bottom: 4%;	

}

.oddproj {
	padding-left:100px;
	padding-right: 100px;
	background-color: white;
	color: black;
}
.evenproj {
	padding-left: 100px;
	padding-right: 100px;
	background-color: black;
	color: white;
}
.followlist {
	list-style: none;	
	text-align: center;
	width: 100%
}
	.followlist li {
		display: inline-block;
		height: 500px;
		width:500px;
		text-align: center;
	
	}

.Glist{
	list-style:none;
	text-align: left;
	color: gray;
	width:100%;
	letter-spacing: 1px;

}
	.Glist li {
		display: inline;
		padding-right: 30px;
	}

.instagramli a,
.github a {
	display:inline-block;
	text-align: left;
	background-color: black;
	color:white;
	padding:20px;
	margin-top: 50px;
	border-radius: 100px;
}

.instagramli a {
	background: url("Images/instacolors.jpg");

}


@media (max-width:768px) {
	 .toggle {
		display: block;
	}
	nav ul {
		width:100%;
		display: none;

	}
	nav ul li {
		display: block;
		text-align: right;
		width:100%;
	}
	.active {
		display: block;
	}
	.socials {
	font-size: 10px;
	margin-left:0;

	
	}
		.socials i {
			margin-left: 7px;
			padding: 3px 3px;
		
		}
	footer {
		height:200px;
	}
		footer img {
			width:150px;
			height: 150px;
		}
	body-content {
		padding-bottom: 225px;
	}



}


/* KEYFRAMES */

@-webkit-keyframes fill {
	0% {
		width:0;
		height: 1px;
	}
	50% {
		width: 100%;
		height: 1px;
	}
	100% {
		width: 100%;
		height: 100%;
		background: white;
	}
}


