
@{
	ViewBag.Title = "EducationAndQualifications";
}

<div class="paratext">
<img src="/Content/Images/introimage.jpg" alt="Video explaination" id="intropic" />
	<br />
	<h1>education and qualifications</h1>
	<p>
		I am in <a href="https://www.swartlandhs.co.za">Swartland Highschool</a> I am currently in grade 11 and my subjects are
		<ul style="text-align: left;">
			<li>Maths</li>
			<li>Computer Applications Technology</li>
			<li>Economy</li>
			<li>Accounting</li>
		</ul>
		Our school does not have IT as a subject, the only option is computer applications technology. I started to learn IT and programming on my own and my knowledge reaches far further than some of the people I know who has IT as a subject in south-africa.
	</p>
	<h1> My view on mainstream computer science education</h1>
	<p>Firstly, one of my options is to go to university after school and get a degree for surety, BUT<br/>
		If I can complete most of the learning throughout my school years and get a job or start a business, I will not go to university.
		This is because I think that the amount of money going into colleges and universities are not worth the while. Most of the stuff you learn is outdated when you eventually graduate
		and you are a good few years behind. I also want to specialize immediately after school and a degree in computer science is very broad.<br/>
		I also believe that testing your memory of surten concepts in tests and exams cannot portray how good of a programmer you are. The real qualities like 
		problem-solving and critical thinking does not really get tested.<br/>
		The best way to show someone your skills is with Projects! check out mine now in the projects and skills tab.
	
	
	</p>
</div>

