
@{
	ViewBag.Title = "EducationAndQualifications";
}

<div class="paratext">
<img src="/Content/Images/introimage.jpg" alt="Video explaination" id="intropic" />
	<br />
	<h1>education and qualifications</h1>
	<p>

	</p>
	<h1> My view on mainstream computer science education</h1>
</div>

