
@{
	ViewBag.Title = "ProjectsAndSkills";
}

<div class="paratext">
	<img src="/Content/Images/introimage.jpg" alt="Video explaination" id="intropic" />
	<br />
	<h1>Projects And Skills</h1>
	<br/>
	<div class ="oddproj">
		<h2>Portfolio-webstie</h2>
		<p id='descrip'>whela description</p>
		<h2>Skills I learnt</h2>
		<p id='descrip' >tokkie vanging</p>
		<br/>
	</div>
	<div class ="evenproj">
		<br/>
		<h2>Android Game : Face Shooter</h2>
		<p id='descrip'>whela description</p>
		<h2>Skills I learnt</h2>
		<p id='descrip' >tokkie vanging</p>
		<br/>
	</div>
</div>

